<!doctype html>
<html>
  <head>
    <title>Ruby in Style</title>
    <%= stylesheet_link_tag "all" %>

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="*.ruby.style"/>
    <meta name="keywords" content="ruby, style, guide"/>
  </head>

  <body>
    <div class="world">
      <section class="post-header">
        <h1 class="post-heading" id="top">Ruby in Style</h1>
      </section>

     	<article class="post"><%= yield.sub(%r_<h1.*?</h1>_, '') %></article>
    </div>
    <a href="https://github.com/janlelis/ruby.style"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub"></a>
  </body>
</html>
